<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center"><br/><br/>Usuń użytkowników:<br/><br/></div>
            <ul>
                <li class="text-center" *ngFor="let user of users">
                    {{user.username}} ({{user.firstName}} {{user.lastName}})
                    - <a (click)="deleteUser(user.id)">Delete</a>
                </li>
            </ul>

        </div>
        <div class="col-md-6">
            <div class="text-center"><br/><br/>Usuń komentarze:<br/><br/></div>
            <ul>
                <li class="text-center" *ngFor="let comment of comments">
                    {{comment.username}}
                    - <a (click)="deleteComment(comment.id)">Delete</a>
                </li>
            </ul>
        </div>
    </div>
</div>