<link rel="stylesheet" href="../assets/css/comments.css">
<div class="container content-container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h3>Opinie Naszych gości</h3>
        </div><!-- /col-sm-12 -->
    </div><!-- /row -->
    <div class="row" *ngFor="let comment of comments">
        <div class="col-sm-1 col-sm-offset-3">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->

        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{comment.username}}</strong>
                    <!--<span class="text-muted">commented 5 days ago</span>-->
                </div>
                <div class="panel-body">
                    {{comment.message}}
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    </div><!-- /row -->
</div><!-- /container -->